
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@400;600&display=swap');

$primary-Color: black;
$primary-Font: Playfair;
$secondar-Color: #FFFDEB;


// style="overflow: hidden; outline: none; transform: 
// translate3d(0px, 0px, 0px) skewY(0deg) scaleY(1);"



.landingPageContainer {
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.topSection {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.topSection video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.middleSection {
    min-height: 100vh;
    margin: 0;
    width: 100%;
    background-color: $primary-Color;
}



// Header putting in landing page to limit number of style files
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
    padding: 0;
}

 #dummyDiv {
     width: 10vw;
 }

.headerContainer h1 {
    color: #FFFDEB;
    font-family: Montserrat;
    margin: 0 auto;
}

.sibling {
    justify-content: space-between;
}

.headerContainer h1 span {
    font-family: $primary-Font;

}

#s {
    font-size: 4.5vh;
}

#bodega {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}

#arrowSvg {
    transition: 0.3s ease;
    cursor: pointer;
    fill: #FFFDEB;
    margin-top: 25px;
}

#arrowSvg:hover {
    fill: black !important;
}

#directSvg {
    width: 10em;
    height:5em;
    margin: 0 auto;
}

//FUTURE REFERENCE
//Arrow needs to change to hamburger menu when it gets to view width of 487
