@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@400;600&display=swap');

$LinkColors: #FFFDEB;

.sideBarContainer {
    min-height: 100%;
    // position: fixed;
    background-color: black;
    width: 100%;
    max-width: 30vw;
    float: right;
    top:0px; 
    right: 0; 
    // z-index: 200;
}

.sideBarLink {
    color: $LinkColors;
    font-family: Playfair Display;
    font-size: 3vmax;
    padding: 1px 10px 10px 10px;
    font-weight: 540;
}
 #leftArrow {
     fill: $LinkColors;
     cursor: pointer;
     transform: rotate(180deg);
     margin: auto;
     margin-right: 19.5em;
     margin-bottom: 2em;
 }

 #directSvg {
    width: 10em;
    height:5em;
 }

 #paintingsLink {
     height: 10vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url('../public/images/abstract1.jpeg');
     overflow: hidden;

 }

 #paintingsLink h1 {
    color: $LinkColors;
    text-align: center;
     font-size: 3vmax;
     font-family: Playfair Display;
     font-weight: 540;
     z-index: 5;
     margin: 0 auto;
     background-color: transparent;
 }

 #nftLink {
     height: 10vh;
     background-image: url('../public/images/NFTLink.jpeg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: rgb(153, 184, 194);
     color: $LinkColors;
     text-align: center;
     font-size: 3vmax;
     font-family: Playfair Display;
     font-weight: 540;
 }

 #sculpturesLink {
     height: 10vh;
     background-image: url('../public/images/femsculpture.jpeg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: rgb(113, 124, 128);
     color: $LinkColors;
     text-align: center;
     font-size: 3vmax;
     font-family: Playfair Display;
     font-weight: 540;
 }

 #clothingLink {
     height: 10vh;
     background-image: url('../public/images/ClothingPic.jpeg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: lightblue;
     color: $LinkColors;
     text-align: center;
     font-size: 3vmax;
     font-family: Playfair Display;
     font-weight: 550;
     overflow: hidden;
 }

 #clothingLink h1 {
    color: $LinkColors;
    text-align: center;
     font-size: 3vmax;
     font-family: Playfair Display;
     font-weight: 540;
     z-index: 5;
     margin: 0 auto;
     background-color: transparent;
 }


 .clothingVideo {
     height: 10vh;
 }

 #paintingsLink Image {
    object-fit: cover;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
 }

 .shopLinks {
     display: flex;
     flex-direction: column;
     gap: .5em;
 }

 .shopL {
    cursor: pointer;
 }